nav {
    float: left;
    display: inline-block;
    width: 150px;
    border: 1px solid black;
    vertical-align: top;
    margin-right: 4px;
}

section{
    display: inline-block;
    border: 1px solid blue;
    vertical-align: top;
}

.div{
    position: relative;
    width: 900px;
    height: 900px;
    background-color: black;
}

.element1{
    position: absolute;
    border: 4px solid blue;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    
}
.element2{
    position: absolute;
    border: 4px dotted red;
    right: 0px;
    bottom: 0px;
    z-index: 2;
}
/* 
//Le principe est exactement le même que pour le positionnement absolu sauf que, 
//cette fois, le bloc reste fixe à sa position, même
//si on descend plus bas dans la page


.element2{
position: fixed;
right: 0px;
bottom: 0px;
}

*/

/*next time we will start with Pratical work (TP) */
/*it is a great progress on it*/

/*Study tables*/

table{
    border-collapse: collapse; /*Les bordures des cellules sont fusionnées*/
    /*width: 100%; /*La table occupe toute la largeur de son conteneur*/
    /*margin: 20px 0; /*Un espacement de 20 pixels en haut et en bas*/
    /*font-size: 18px; /*Taille de police de 18 pixels*/
    /*text-align: left; /*Alignement du texte à gauche*/
}

td, th /*Toute les cellules des tableaux...*/
{
    border: 1px solid black; /*...sont encadrées par une bordure noire de 1 pixel*/
    padding: 5px; /*...et ont un espacement de 5 pixels entre le texte et la bordure*/
    text-align: center; /*...et le texte est centré dans chaque cellule*/
}

input{
    margin: 2px;
}
