nav {
    float: left;
    display: inline-block;
    width: 150px;
    border: 1px solid black;
    vertical-align: top;
    margin-right: 4px;
}

section{
    display: inline-block;
    border: 1px solid blue;
    vertical-align: top;
}

.div{
    width: 900px;
    height: 900px;
    background-color: black;
}

.new{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    font-size: x-large;
    border: 2px solid blue;
}

.new{
    position: absolute;
    left: 0px;
}