nav {
    float: left;
    display: inline-block;
    width: 150px;
    border: 1px solid black;
    vertical-align: top;
    margin-right: 4px;
}

section{
    display: inline-block;
    border: 1px solid blue;
    vertical-align: top;
}

.div{
    position: relative;
    width: 900px;
    height: 900px;
    background-color: black;
}

.element1{
    position: absolute;
    border: 4px solid blue;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    
}
.element1{
    position: absolute;
    border: 4px dotted red;
    right: 0px;
    bottom: 0px;
    z-index: 2;
}



