@font-face {
    font-family: "BallparkWeiner";
    src: url("polices/ballpark.eot");
    src: url("polices/ballpark.eot?#iefix") format("embedded-opentype"), url("polices/ballpark.woff") format("woff"),
      url("polices/ballpark.ttf") format("truetype"), url("polices/ballpark.svg#BallparkWeiner") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Dayrom";
    src: url("polices/dayrom.eot");
    src: url("polices/dayrom.eot?#iefix") format("embedded-opentype"), url("polices/dayrom.woff") format("woff"),
      url("polices/dayrom.ttf") format("truetype"), url("polices/dayrom.svg#Dayrom") format("svg");
    font-weight: normal;
    font-style: normal;
  }

  body {
    background: url("images/fond_jaune.png");
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: #0c090a;
  }
  
  h1,
  h2 {
    font-family: Dayrom;
    font-weight: normal;
    font-size: 1.06rem;
  }
h1{
    margin: 0;
}
  
h2 {
    text-transform: uppercase;
}

article > h2 { /*This selector targets only the <h2> elements that are direct children of an <article> element.*/
  display: flex;
  align-items: center;/*this put the img and span at the same level verticaly*/
  /*justify-content: center; /* This centers the content horizontally */
  font-size: 1.3rem;
  margin: 0;
}

/* This selector targets <span> elements that are direct children of <h2> elements within an <article> element.
  This style will only apply if the <span> is a direct child of an <h2> within an <article>  */
article > h2 > span {
    margin-left: 1rem;
}

p{
  text-align: justify;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul > li {
    display: inline-block;
}

/* This selector targets the header, section, div with id article-section, and footer elements */
header,
section,
div#article-section, /* Targets the div element with the id article-section */
footer {
    display: flex; /* Applies flexbox layout to these elements */
    margin:auto; /* Centers the elements horizontally */
    padding: 0 1.2rem; /* Adds padding of 1.2rem to the left and right */
    max-width: 68rem; /* Sets the maximum width of these elements to 68rem */
}

footer{
    margin-top: 1rem;
    overflow: auto;
} 
/*reanalyze*/
div.separator{
  height: 3px;
  margin: 0.8rem -0.5rem;
  background: url(images/separateur.png) repeat-x;
  text-align: center;/*This center the image to go up to the page*/
}

div.separator-shadow {
  margin: -0.8rem -0.5rem;
  height: 14px;
  background: url(images/ombre.png) repeat-x;
}

a#red-link{
  color: #89201d;
  text-decoration: underline;
}

header {
  display: flex;
  padding: 0 0.8rem;
}

span#zozor{
  position: relative;
  top: 0.6rem;
  font-family: BallparkWeiner;
  font-size: 2rem;
}

hearder nav > ul {
  text-transform: uppercase; 
  margin: 0 0.5rem; 
}